/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.marker-color-1 {
  filter: hue-rotate(60deg)
}
.marker-color-2 {
  filter: hue-rotate(120deg)
}
.marker-color-3 {
  filter: hue-rotate(180deg)
}
